{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="auth-container">
        <h1>Bienvenue sur l'application de rencontre !</h1>
        {% if app.user %}
            <p>Bonjour {{ app.user.pseudo }}, vous êtes connecté.</p>
        {% else %}
            <p><a href="{{ path('app_login') }}">Connectez-vous</a> pour voir les profils.</p>
        {% endif %}
    </div>
{% endblock %}
