<input type="text" class="search-input" placeholder="Rechercher un pseudo...">

<a href="#" class="sidebar-item" style="background: #fff1f5;">
    {# Tu pourras remplacer l'image par une icône d'alerte plus tard #}
    <img class="sidebar-icon" src="{{ asset('images/Notification.webp') }}" alt="Signalements">
    <span style="font-weight: bold; color: #ed3692;">Signalements</span>
</a>

<a href="#" class="sidebar-item">
    <img class="sidebar-icon" src="{{ asset('images/valid.webp') }}" alt="Validations">
    <span>Validations Profils</span>
</a>

<div style="margin-top: auto; border-top: 2px solid #180b0b; padding-top: 20px;">
    <a href="#" class="sidebar-item">
        <img class="sidebar-icon" style="border-radius: 50%;" src="{{ asset('images/Denied.jpg') }}" alt="Déconnexion">
        <span>Déconnexion</span>
    </a>
</div>