<input type="text" class="search-input" placeholder="Recherche...">

<a href="#" class="sidebar-item">
    <img class="sidebar-icon" src="{{ asset('images/Messagerie.png') }}" alt="Msg">
    <span>Messages</span>
</a>

<a href="notifications" class="sidebar-item">
    <img class="sidebar-icon" src="{{ asset('images/Notification.webp') }}" alt="Notif">
    <span>Notifications</span>
</a>

<a href="#" class="sidebar-item">
    <img class="sidebar-icon" src="{{ asset('images/Configuration.webp') }}" alt="Cfg">
    <span>Paramètres</span>
</a>

<div style="margin-top: auto; border-top: 2px solid #180b0b; padding-top: 20px;">
    <a href="#" class="sidebar-item">
        <img class="sidebar-icon" style="border-radius: 50%;" src="{{ asset('images/thispersondoesnotexist.jpeg') }}" alt="Moi">
        <span>Mon Profil</span>
    </a>
</div>