.profile-modal-card {
    width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 30px 20px 20px 20px; /* Espace pour le bouton au dessus */
    position: relative;
    font-family: Arial, sans-serif;
    opacity: 1;
    animation: popIn 0.2s ease-out;
}

.profile-modal-card h1 {
    margin-top: 20px; /* Espace pour bouton close */
}

.profile-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-avatar {
    position: absolute;
    top: 15px;
    right: 100px;
    width: 70px;
    height: 70px;
    border-radius: 50%;   /* rond */
    object-fit: cover;    /* évite déformation */
    border: 2px solid white;
}

.profile-location {
    color: #666;
    margin-bottom: 15px;
}

.profile-bio {
    background: #f4f4f4;
    padding: 12px;
    border-radius: 10px;
}

/* Le fond autour de la carte de profil */
#profile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: none; /* Caché par défaut */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#profile-overlay:has(.profile-modal-card) {
    display: flex;
}

.profile-modal-card .report_search{
    position: absolute;
    top: 15px;
    right : 15px;
}

/* Animation pour l'apparition de la carte */
@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Bouton pour fermer la carte */
.profile-close {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: white;
    border-radius: 50%;
    cursor: pointer;

    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Image pour signalement */
.report_search img{
    width: 40px;
    height: auto;
    opacity: 0.6;   /* On rend le bouton discret */
    transition: 0.2s;
    cursor: pointer;
}

/* Image n'est plus transparente quand on passe dessus et + grosse */
.report_search img:hover {
    opacity: 1;
    transform: scale(1.0);
}


